/***** custom values *****/
$__layout_paddingLeftDesktop: 125px;

$__header_heightMobile: 32vw;
$__header_heightDesktop: 120px;
$__header_heightTransition: 300ms;

$__minScreen: 320px;
$__maxScreen: 1440px;

$__secondaryNav_transition: 500ms;
