body {
	background-color: $__main;
	color: $__sub;
	transition: all 750ms ease;
}

@media (prefers-color-scheme: dark) {
	html {
		--theme: dark;
		transition: all 1s ease;
	}
}

html[data-theme='dark'] {
	--theme: dark;
}

html[data-theme='light'] {
	--theme: none;
}

/* Attach dark mode styles */
@container style(--theme: dark) {
	body {
		background-color: $__sub;
		color: $__main;
	}
}
