@import 'reset';
@import 'config';

body {
	font-family:
		Manrope,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1;
	min-width: $__minScreen;
	// max-width: $__maxScreen;
}

main {
	padding-top: $__header_heightMobile;
	transition: padding-top $__header_heightTransition ease;
	@include mq('md') {
		padding-top: $__header_heightDesktop;
	}
	height: 120vh;
}

.section-line {
	position: relative;
	&::after {
		content: '';
		height: 1px;
		width: 100%;
		background-color: $__primary;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

.hover-underline {
	position: relative;
}

.hover-underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: $__main;
	scale: 0 1;
	transform-origin: center right;
	transition: scale 0.5s;
}

.hover-underline:hover::after {
	scale: 1 1;
	transform-origin: left center;
	transition: scale 0.5s;
}
