---
import Logo from '@assets/corp__logo.svg';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';

import NavbarActions from './NavbarActions.astro';
import PrimaryNavbar from './PrimaryNavbar.astro';
import SecondaryNavbar from './SecondaryNavbar.astro';
---

<header class="header">
	<div class="header__logo">
		<Image src={Logo} alt="Logo of the company Hello" />
	</div>
	<PrimaryNavbar class="primary-navbar">
		<NavbarActions
			class="primary-navbar__actions navbar__actions_display"
			slot="navbar-actions"
		/>
	</PrimaryNavbar>
	<SecondaryNavbar>
		<NavbarActions
			class="secondary-navbar__actions navbar__actions_display"
			slot="navbar-actions"
		/>
	</SecondaryNavbar>
	<Burger />
</header>

<style lang="scss">
	.header {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: $__header_heightMobile;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 5vw;
		transition:
			height $__header_heightTransition ease,
			padding-inline calc($__header_heightTransition + 400ms) ease;
	}

	.header__logo {
		width: 16vw;
		transition: width $__header_heightTransition;
	}

	.navbar__actions_display {
		z-index: 1002;
	}

	.header {
		.primary-navbar,
		.header__logo img {
			transition: all $__header_heightTransition ease;
		}
	}

	.header.out {
		height: 120px;
		.primary-navbar,
		.header__logo img {
			transition: all $__header_heightTransition ease;
		}

		.header__logo img {
			width: 60px;
		}

		.primary-navbar {
			opacity: 0;
			visibility: hidden;
		}
	}

	@media screen and (min-width: 768px) {
		.header {
			height: $__header_height768;
			padding-inline: 40px;
		}

		.header__logo {
			min-width: 90px;
		}
	}

	@media screen and (min-width: 1024px) {
		.header {
			height: $__header_height1024;
			padding-inline: 2.5vw;
		}
	}

	@media screen and (min-width: 1440px) {
		.header {
			height: $__header_height1440;
		}
		.header__logo {
			width: 6.25vw;
		}
	}
</style>
