---
import Logo from '@assets/corp__logo.svg';
import Burger from '@components/ui/Burger.astro';
import { Image } from 'astro:assets';
---

<header class="header active">
	<div class="header__logo">
		<Image src={Logo} alt="Logo of the company Hello" />
	</div>
	<Burger />
</header>

<style lang="scss">
	.header {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: $__header_heightMobile;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 5vw;
		transition:
			height $__header_heightTransition ease,
			padding-inline calc($__header_heightTransition + 400ms) ease;
	}

	.header__logo {
		width: 70px;
		transition: width $__header_heightTransition;
	}

	@media screen and (min-width: 768px) {
		.header {
			height: $__header_heightDesktop;
			padding-inline: 40px;
		}

		.header__logo {
			width: 90px;
		}
	}
</style>
