---
import NavbarActionButton from '@functionnal-components/ui/NavbarActionButton';

const { class: navbar__actions_display, ...rest } = Astro.props;
---

<div class:list={['navbar__actions', navbar__actions_display]} {...rest}>
	<NavbarActionButton client:load label="Motion" button1="Auto" button2="Pause" />
	<NavbarActionButton client:load label="Language" button1="Ja" button2="En" />
</div>

<style lang="scss">
	.navbar__actions {
		height: $__header_heightMobile;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4vw;
		white-space: nowrap;
		@include mq('xs') {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		@include mq('md') {
			gap: 1.5rem;
			position: absolute;
			right: calc(8rem + var(--scrollbar-width));
			justify-content: flex-end;
			flex-wrap: nowrap;
			height: $__header_height768;
		}
		@include mq('custom1024') {
			height: $__header_height1024;
		}
		@include mq('custom1440') {
			height: $__header_height1440;
		}
	}
</style>
