---
import NavbarActionButton from '@functionnal-components/ui/NavbarActionButton';
---

<div class="secondary-navbar__actions">
	<NavbarActionButton client:load label="Motion" button1="Auto" button2="Pause" />
	<NavbarActionButton client:load label="Language" button1="Ja" button2="En" />
</div>

<style lang="scss">
	.secondary-navbar__actions {
		z-index: 1002;
		height: $__header_heightMobile;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4vw;
		white-space: nowrap;
		@include mq('xs') {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		@include mq('md') {
			gap: 1.5rem;
			position: absolute;
			right: calc(8rem + var(--scrollbar-width));
			justify-content: flex-end;
			flex-wrap: nowrap;
			height: $__header_height768;
		}
		@include mq('custom1024') {
			height: $__header_height1024;
		}
		@include mq('custom1440') {
			height: $__header_height1440;
		}
	}
</style>
