---
import FooterBlock from '@components/ui/FooterBlock.astro';

type Props = {
	blockTitle: string;
};

const { blockTitle } = Astro.props;
---

<FooterBlock title={blockTitle}>
	<div class="footer__newsletter">
		<div class="footer__newsletter_slogans">
			<div class="footer__newsletter_slogan">
				<span>Register for</span>
				<br />
				<span>Newsletter</span>
			</div>
			<div class="footer__newsletter_slogan">
				<span>Register for</span>
				<br />
				<span>Newsletter</span>
			</div>
		</div>
	</div>
</FooterBlock>

<style lang="scss">
	.footer__newsletter {
		background-color: $__secondary;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		padding: 10vw 8vw;
	}

	.footer__newsletter_slogans {
		height: 50%;
		font-size: 5vw;
		line-height: 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.footer__newsletter_slogan:nth-child(2) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.footer__newsletter {
			height: 15vw;
			padding: 0 4.5vw;
		}
		.footer__newsletter_slogans {
			font-size: 2vw;
		}

		.footer__newsletter_slogan:nth-child(2) {
			display: block;
		}

		.footer__newsletter_slogan {
			transition: all 750ms ease;
		}

		.footer__newsletter:hover .footer__newsletter_slogan {
			translate: 0 -100%;
		}
	}
</style>
