---
import FooterBlock from '@components/ui/FooterBlock.astro';

import FooterNewsletterForm from './FooterNewsletterForm.astro';

type Props = {
	blockTitle: string;
};

const { blockTitle } = Astro.props;
---

<FooterBlock title={blockTitle}>
	<div class="footer__newsletter">
		<div class="footer__newsletter_slogans">
			<div class="footer__newsletter_slogan">
				<span>Register for</span>
				<br />
				<span>Newsletter</span>
			</div>
			<div class="footer__newsletter_slogan">
				<span>Register for</span>
				<br />
				<span>Newsletter</span>
			</div>
		</div>
		<FooterNewsletterForm class="subscribe__btn_span" />
	</div>
</FooterBlock>

<style lang="scss">
	.footer__newsletter {
		width: 100%;
		background-color: $__secondary;
		@container style(--theme: dark) {
			background-color: $__secondary_dark;
		}
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		padding: 10vw 8vw;
	}

	.footer__newsletter_slogans {
		height: 20vw;
		font-size: 5vw;
		line-height: 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.footer__newsletter_slogan:nth-child(2) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.footer__newsletter {
			height: 15vw;
			padding: 0 4.5vw;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.footer__newsletter_slogans {
			height: 50%;
			font-size: 2vw;
			flex: 1;
		}

		.footer__newsletter_slogan:nth-child(2) {
			display: block;
		}

		.footer__newsletter {
			--animation-opts: 0.5s ease-in-out 0s 1 normal forwards;

			.footer__newsletter_slogan {
				animation: translate-y-default var(--animation-opts);
			}

			.subscribe__btn_span::before {
				animation: translate-x-before-default var(--animation-opts);
			}

			.subscribe__btn_span::after {
				animation: translate-x-after-default var(--animation-opts);
			}

			&:hover {
				.footer__newsletter_slogan {
					animation: translate-y var(--animation-opts);
				}

				.subscribe__btn_span::before {
					animation: translate-x-before var(--animation-opts);
				}
				.subscribe__btn_span::after {
					animation: translate-x-after var(--animation-opts);
				}
			}
		}
	}
</style>
