---
import './../styles/main.scss';

import Footer from '@components/layout/footer/Footer.astro';
import Header from '@components/layout/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<main>
			<div class="section-line top-line"></div>
			<div class="section-line left"></div>
			<slot />
		</main>
	</body>
	<Footer />
</html>

<style lang="scss">
	.section-line.top-line::after,
	.section-line.left::after {
		top: 0;
		opacity: 1;
		transition: top 750ms ease;
	}

	.section-line.top-line.out::after,
	.section-line.left.out::after {
		opacity: 0;
		top: -$__header_heightMobile;
		@include mq('md') {
			top: -$__header_height768;
		}
		@include mq('custom1024') {
			top: -$__header_height1024;
		}
		@include mq('custom1440') {
			top: -$__header_height1440;
		}
		transition:
			top 750ms ease,
			1750ms opacity 1ms ease;
	}

	.section-line.left.out::after {
		opacity: 1;
	}
</style>

<script>
	const header = document.querySelector('header') as HTMLElement;
	const sectionLine = document.querySelectorAll(
		'.section-line'
	) as NodeListOf<HTMLDivElement>;
	const scrollY = window.scrollY;

	scrollY ? header.classList.add('out') : null;

	window.addEventListener('scroll', () => {
		const scrollY = window.scrollY;
		if (scrollY >= 20) return;
		scrollY === 0
			? sectionLine.forEach(line => line.classList.remove('out'))
			: sectionLine.forEach(line => line.classList.add('out'));
		scrollY === 0 ? header.classList.remove('out') : header.classList.add('out');
	});
</script>

<style lang="scss"></style>
