---
import './../styles/main.scss';

import Header from '@components/layout/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<main>
			<div class="section-line top-line"></div>
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	.section-line::after {
		top: 0;
		opacity: 1;
		transition: top 750ms ease;
	}

	.section-line.out::after {
		opacity: 0;
		top: -$__header_heightMobile;
		@include mq('md') {
			top: -$__header_height768;
		}
		@include mq('custom1024') {
			top: -$__header_height1024;
		}
		@include mq('custom1440') {
			top: -$__header_height1440;
		}
		transition:
			top 750ms ease,
			1750ms opacity 1ms ease;
	}
</style>

<script>
	const header = document.querySelector('header') as HTMLElement;
	const sectionLine = document.querySelector('.section-line.top-line') as HTMLDivElement;
	window.addEventListener('scroll', () => {
		const scrollY = window.scrollY;
		if (scrollY >= 20) return;
		scrollY === 0
			? sectionLine.classList.remove('out')
			: sectionLine.classList.add('out');
		scrollY === 0 ? header.classList.remove('out') : header.classList.add('out');
	});
</script>
