.navbar__action {
	display: flex;
	align-items: flex-end;
	gap: 1.5vw;
	vertical-align: bottom;
	@include mq('md') {
		gap: 0.5rem;
	}
}

.navbar__action_label {
	font-size: $__font10;
	@include mq('xs') {
		font-size: 2.5vw;
	}
	@include mq('md') {
		font-size: $__font10;
	}
}

.navbar__action_buttons {
	font-size: $__font12;
	@include mq('xs') {
		font-size: 3vw;
	}
	@include mq('md') {
		font-size: $__font12;
	}
	button {
		cursor: text;
		-webkit-user-select: text; /* Chrome all / Safari all */
		-moz-user-select: text; /* Firefox all */
		-ms-user-select: text; /* IE 10+ */
		user-select: text;
	}
	button:not(:disabled) {
		color: $__primary;
		@container style(--theme: dark) {
			color: $__primary;
		}
		cursor: pointer;
	}
}
