body {
	background-color: $__main;
	color: $__sub;
}

@media (prefers-color-scheme: dark) {
	html {
		--theme: dark;
	}
}

html[data-theme='dark'] {
	--theme: dark;
}

/* Attach dark mode styles */
@container style(--theme: dark) {
	body {
		background-color: $__sub;
		color: $__main;
	}
}
